<mat-sidenav-container class="sidenav__container">
  <mat-sidenav
    [style.border-radius]="'0'"
    class="sidenav"
    #sidenav
    mode="side"
    opened
  >
    <header class="sidenav__header">
      <div class="sidenav__header-user">
        <img src="../../../../assets/logo-white.png" alt="logo" />
        <h1 [title]="usuario?.nome">
          Olá, {{ usuario?.nome | truncate: 30 : "…" }}!
        </h1>
      </div>

      <div
        appClickOutside
        (appClickOutside)="configOpen = false"
        class="config-btn-wrapper"
      >
        <button
          (click)="changeConfigState()"
          class="config-btn-wrapper__config-btn"
        >
          <i class="ri-settings-2-line"></i>
        </button>

        <div *ngIf="configOpen" class="config-btn-wrapper__config-tray">
          <button
            (click)="openConfigurations()"
            class="config-btn-wrapper__config-tray-settings"
          >
            <i class="ri-settings-2-line"></i>
            <p>Configurações</p>
          </button>

          <button
            (click)="logOut()"
            class="config-btn-wrapper__config-tray-exit"
          >
            <i class="ri-logout-circle-r-line"></i>
            <p>Sair</p>
          </button>
        </div>
      </div>
    </header>

    <mat-nav-list>
      <a mat-list-item routerLink="/kanban/" routerLinkActive="active">
        <p>Kanban</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav__content">
    <button mat-icon-button (click)="sidenav.toggle()">
      <i class="ri-menu-line"></i>
    </button>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
