<section class="home">
  <div class="home__content">
    <div class="home__title">
      <img src="../../../assets/logo.png" alt="" />
      <h1>To-Do</h1>
    </div>
    <form [formGroup]="form" class="home__form">
      <div class="home__form-content">
        <p>
          <mat-form-field [style.width.px]="400" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Insira seu e-mail"
            />
          </mat-form-field>
        </p>

        <div class="home__form-senha">
          <p>
            <mat-form-field [style.width.px]="400" appearance="outline">
              <mat-label>Senha</mat-label>
              <input
                formControlName="senha"
                matInput
                placeholder="Insira seu e-mail"
              />
            </mat-form-field>
          </p>
        </div>

        <small>Esqueceu sua senha?</small>
      </div>

      <div (click)="login()" class="login-button">Entrar</div>
    </form>
  </div>
</section>
