<section class="quadro-kanban">
  <header class="quadro-kanban__header">
    <h1>Quadro Kanban</h1>

    <button
      class="add-task-btn"
      aria-label="Cadastrar tarefa."
      matTooltip="Cadastrar tarefa."
      matTooltipClass="tooltip"
      (click)="openForm()"
    >
      Adicionar tarefa
    </button>
  </header>

  <div class="kanban-container">
    <div *ngFor="let coluna of kanbanData" class="coluna-kanban">
      <p>{{ coluna.descricao }}</p>
      <div
        cdkDropList
        [cdkDropListData]="coluna.tarefas"
        [cdkDropListConnectedTo]="dropLists"
        class="tarefas-list"
        (cdkDropListDropped)="drop($event, coluna.id)"
        [id]="'dropList' + coluna.id"
      >
        <div
          *ngFor="let tarefa of coluna.tarefas"
          class="tarefa-card"
          cdkDrag
          (click)="editTask(tarefa)"
        >
          <header class="tarefa-card__header">
            <div
              class="prioridade-card"
              [ngStyle]="{
                'background-color': getPrioridadeColor(tarefa.prioridade),
              }"
            >
              {{ tarefa.prioridade | tarefaPrioridade }}
            </div>

            <h1 class="title" [title]="tarefa.titulo">
              {{ tarefa.titulo | truncate: 40 : "..." }}
            </h1>
          </header>

          <div class="tarefa-card__content">
            <div class="prazo">
              <i class="ri-timer-2-line"></i>
              <small>{{ tarefa.prazo | date }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
