.quadro-kanban {
  .quadro-kanban__header {
    display: flex;
    align-items: center;
    gap: 1em;

    button {
      background-color: #001630;
      border-radius: 100%;

      i {
        color: #ffff;
      }

      &:hover {
        background-color: rgb(105, 105, 105) !important;
        color: rgb(207, 207, 207) !important;
      }
    }
  }
}
