@use "@angular/material" as mat;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";

  .mat-mdc-dialog-container {
    .mat-mdc-dialog-inner-container {
      .mat-mdc-dialog-surface {
        border-radius: 0 !important;
      }
    }
  }
}

body {
  overflow: hidden;
}

span {
  font-family: "Inter" !important;
}

:root {
  @include mat.select-overrides(
    (
      trigger-text-font: "Inter",
    )
  );

  @include mat.tooltip-overrides(
    (
      supporting-text-font: "Inter",
    )
  );
}
